{% extends 'index.html' %}
<head>
    <meta charset="UTF-8">
    <title>Twój koszyk</title>
</head>
<body>
{% block menu %}
    <a href="/">
        <button type="button">
            Strona główna
        </button>
    </a>
    <a href="/product-list">
        <button type="button">
            Lista produktów
        </button>
    </a>
    <a href="/cart">
        <button type="button">
        Twój koszyk
        </button>
    </a></br></br>
<h1>Twój koszyk</h1>
{% autoescape false %}
    {{items}}
{% endautoescape %}
{% endblock %}
</body>

