{% extends 'index.html' %}
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
</head>
<br>
{% block menu %}
    <a href="/">
        <button type="button">
            Strona główna
        </button>
    </a>
    <a href="/product-list">
        <button type="button">
            Lista produktów
        </button>
    </a>
    <a href="/cart">
        <button type="button">
        Twój koszyk
        </button>
    </a></br></br>
<h1>Lista produktów</h1>
<table class="table table-striped">
        <tr>
                <th>ID</th>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Typ</th>
                <th>Liczba stron</th>
                <th>Dostępna ilość</th>
                <th>Cena netto</th>
        </tr>
        {% for id, val in choice.items() %}
                <tr>
                        <td>{{ id }}</td>
                            {% for key, value in val.items() %}
                            <td>{{ value }}</td>
                            {% endfor %}
                </tr>
        {% endfor %}
</table></br></br>
<p>
    Który produkt dodać do koszyka? Podaj ID
</p>
    <form action="/product-list" method="post">
        <input type="text" name="chosen"/>
        <input type="submit" value="Dodaj"/>
    </form>
{% endblock %}
</body>

